# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints & autosaves
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Virtual environments
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# Environment variables & secrets
.env
*.env

# IDE and Editor configurations
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Operating System files
.DS_Store
Thumbs.db
ehthumbs.db

# Logs and temporary files
*.log
*.tmp
temp/